# جلوگیری از فهرست‌گیری پوشه روت پیش از نصب کامل وردپرس
Options -Indexes

# مخفی‌سازی فایل قفل نصب از دسترسی مستقیم
<Files ".installed">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order deny,allow
        Deny from all
    </IfModule>
</Files>
